.Menu {
	list-style: none;
	height: 30px;
}

.Menu li {
	position: relative;
	float: left;
	padding-right: 2px;
	margin-bottom: 3px;
	height: 101%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.divBranca{
	background: none repeat scroll 0 0 #ffffff;
	width: 100%;
}

.Menu li a {
	display: block;
	text-decoration: none;
	color: #E2144A;
	background: none repeat scroll 0 0 transparent;
	background: #fff;
	padding: 5px;
	border: 1px solid #ccc;
	font-size: small;
	width: 150px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.Menu li ul {
	background: none repeat scroll 0 0 transparent;
	position: absolute;
	display: none;
	list-style: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-left: 0px; 
	left: 0px;
	margin-top: 0px;
    padding-left: 0px;
}

.Menu li ul li {
	background: none repeat scroll 0 0 #6ab33f;
}

.Menu li:hover ul {
	display: block;
}

.SpanHorarioData {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;

}

.spanTitulo {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 2px;
}

.barratop {
	clear: both;
	background-image: url("./../images/pickAzul.png");
	background-repeat: repeat;
	height: 20px;
	text-align: -webkit-center;
	text-align: center;
	border-bottom: solid 3px #CD0404;
}

.fieldBoxPrincipal {
	height: auto;
	padding: 0;
}

/* Fix IE. Hide from IE Mac \*/
* .fieldLogin {
	height: auto;
	margin: auto;
	padding: 0;
	font-weight: bold;
	width: 330px;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 0px;
	border-right-width: 0px;
	padding-bottom: 3px;
}

/* End */
.fieldLogin {
	height: auto;
	margin: auto;
	padding: 0;
	font-weight: bold;
	width: 330px;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 0px;
	border-right-width: 0px;
	padding-bottom: 3px;
}

.div_Menu{
		margin: auto;
		width: 860px;
}

.clear
{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.div_label {
	width: auto;
	height: auto;
}

.div_LabelCenter {
	margin: auto;
	width: 155px;
	margin-bottom: 5px;
}

legend {
	color: #b2d0e8;
	font-weight: bold;
}

fieldset {
	color: #b2d0e8;
	border: 1px solid #CD0404;
}

body.dark {
	background-image: url("./../images/dark_wall.png");
	margin:auto;
	min-width: 860px;
	font: 76.5% "Arial", "Helvetica", sans-serif;
	/*   font-family: Arial,Helvetica,sans-serif ; */
}